.Home {
  h1 {
    text-shadow: 5px 8px 12px $black;
    color: $white;
  }
  .product-card {
    margin-bottom: 2rem;
    width: 80vw;
    margin: 1rem auto;
    transition: all 0.5s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);

    &:hover {
      transform: perspective(1000px) rotateX(0deg) rotateY(-15deg)
        scale3d(1, 1, 1);
    }
    // &:hover {
    //   transform: perspective(1000px) rotateX(0deg) rotateY(0deg)
    //     scale3d(1, 1, 1);
    // }

    a {
      overflow: hidden;

      &:hover img {
        transition: all 0.3s ease;
        transform: scale(1.05);
      }
    }

    @media (min-width: 590px) {
      width: 15rem;
      // margin: none;
    }

    @media (min-width: 768px) {
      width: 18rem;
      // margin: none;
    }

    img {
      height: 18rem;
      object-fit: cover;
    }

    button {
      display: block;
      margin: 0.5rem auto;

      &:focus {
        box-shadow: none;
      }
    }

    .card-body {
      background-color: $white;
      color: $black;
    }
  }
}
