@import "~bootstrap/scss/bootstrap";
@import "./bootswatch";
@import "./variables";
@import "./var";
@import "./components/header.scss";
@import "./pages/home.scss";
@import "./pages/products/product.scss";
@import "./pages/cart.scss";
@import "./components/hero.scss";
@import "./pages/form.scss";
@import "./pages/shipping.scss";
@import "./pages/payment.scss";
@import "./pages/place-order.scss";
@import "./pages/order-history.scss";

* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
}

.main-container {
  padding: 2rem 1.5rem 2.5rem;
}

.children {
  min-height: 90vh;
}

.default-margin {
  margin-top: 5rem;
}

.button {
  background-color: $primary;
  box-shadow: none !important;

  &:active,
  &:hover,
  &:focus {
    background-color: $primary !important;
  }
}

#nprogress .bar {
  background: #6600ff;
  height: 2px;
  border-radius: 4px;
}

#nprogress .spinner {
  display: none;
}

.rating {
  display: inline-block;
}

.inactive {
  color: #ffffff8c !important;
}

.link-def {
  color: $white !important;
}

.error {
  color: red;
}

.Logo {
  @mixin Logo {
    color: lighten($white, 25);
    text-shadow: 2px 1px 12px $white;
  }

  text-decoration: none !important;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 900;
  @include Logo;

  &:hover {
    @include Logo;
  }
}

.menu-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  background: darken($white, 50);
  color: #4b4949;
}

.theme-mode {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn,
.btn:focus {
  box-shadow: none;
}
