@import "~bootstrap/scss/bootstrap";
@import "./bootswatch";
@import "./variables";
@import "./var";
@import "./header.scss";
@import "./home.scss";
@import "./product.scss";
@import "./cart.scss";
@import "./hero.scss";

* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
}

.main-container {
  padding: 2rem 1.5rem 0;
}

.children {
  min-height: 90vh;
}

.default-margin {
  margin-top: 5rem;
}

.button {
  background-color: $primary;

  &:hover,
  &:focus {
    background-color: $primary;
  }
}

#nprogress .bar {
  background: #6600ff;
  height: 2px;
  border-radius: 4px;
}

#nprogress .spinner {
  display: none;
}

.rating {
  display: inline-block;
}

.inactive {
  color: rgba(255, 255, 255, 0.55) !important;
}
