@import "~bootstrap/scss/bootstrap";
@import "./var";
@import "./header.scss";
@import "./home.scss";
@import "./product.scss";
@import "./variables";
@import "./bootswatch";

* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
}

.main-container {
  min-height: 60vh;
  background-color: $secondary;
  padding: 1rem 1.5rem;
}

.button {
  background-color: $primary;

  &:hover,
  &:focus {
    background-color: $primary;
  }
}

#nprogress .bar {
  background: #6600ff;
  height: 2px;
  border-radius: 4px;
}
